tr.inactive {
    background-color: #eee;
}

td.name input.description {
    background-color: rgba(255,255,0,0.2);
    border: 1px solid #cc0;
    padding: 2px 0 !important;
}

tr.inactive input.description {
    border-color: #888;
    background-color: #ddd;
}

.provprofilebadge .original_name {
    font-weight: normal;
    color: #555;
}

div.statusLabel {
    float: right !important;
}

span.label {
    padding-left: 20px !important;
    text-align: right;
    background: url('https://devimages.apple.com.edgekey.net/assets/apps/images/portal/icon_status_gray.png') no-repeat left top;
}

span.label a {
    text-align: right !important;
    margin: 3px 0 !important;
}

.statusLabel.active span.label {
    background-image: url('https://devimages.apple.com.edgekey.net/assets/apps/images/portal/icon_status_green.png');
}
