<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
   	   <string>uk.co.goosoftware.app-id-sanity</string>
       <key>Developer Identifier</key>
       <string>VW9QM42U4U</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>https://github.com/downloads/simonwhitaker/app-id-sanity/App%20ID%20Sanity.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
